body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(29, 29, 29);
    color: white;
    line-height: 1.5rem;
    font-size: 1rem;
    padding-bottom: 1rem;
}

body::selection {
    background-color: rgb(156, 156, 156);
    color: rgb(0, 0, 0);
}

h2 {
    text-align: center;
    margin: 4rem 0;
}

main {
    width: 80%;
    margin: 0 auto
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

a:hover {
    color: #afafaf;
}

.margin-top li {
    margin-top: 0.3rem;
    max-width: fit-content;
}


@media (max-width: 600px) {
    body {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    h2 {
        margin: 2rem 0 3rem 0;
        line-height: 2rem;
    }
}